// Fonts

$font-family-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-secondary: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-secondary: $font-family-sans-serif-secondary;

// Set Design - Nav Menu
$nav-menu-responsive-breakpoint: $screen-lg;

// Set Design - Icons
$icon-svg-size: 1em;

// Set Design - Social Icons
$si-icon-svg-size: $icon-svg-size;

// VcLibrary - Content Section
$content-section-width-narrow: 768px;
