.social-club {
    &__navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > * {
            margin: 0;
        }
    }

    &__topics {
        width: 100%;

        .social-club-table-row__rows:nth-child(even) {
            background-color: color-var(--global__colors__gray-lighter);
        }
    }

    &__row {
        &--headers {
            background-color: color-var(--global__colors__black);
            color: color-var(--global__colors__white);

            .social-club__row {
                padding: var(--global__sizing__layout-spacing--half);

                &:first-child {
                    text-align: left;
                }
            }
        }

        &:nth-child(even) {
            background-color: color-var(--global__colors__gray-lighter);
        }
    }

    &__data {
        padding: var(--global__sizing__layout-spacing--half);
        text-align: center;

        a {
            color: color-var(--global__colors__black);
        }

        &:first-child {
            text-align: left;
        }

        > :last-child {
            margin-bottom: 0;
        }

        &:last-child {
            display: none;

            @include media-breakpoint-up(md) {
                display: table-cell;
            }
        }
    }
}
