input {
    @include text-inputs {
        border-bottom-width: 1px;
    }
}

textarea,
select {
    border-bottom: 1px solid color-var(--form-fields__common__border--color);
}

input[type="checkbox"] {
    border: 1px solid color-var(--form-fields__common__border--color);
}
