.footer-nav {
    border-top: 1px solid color-var(--global__colors__gray-light);
    &__container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        @include media-breakpoint-up(md) {
            flex-flow: row nowrap;
        }
    }
    &__info {
        display: flex;
        flex-flow: column nowrap;
        padding: var(--global__sizing__layout-spacing--default);

        @include media-breakpoint-down(sm) {
            align-items: center;
            text-align: center;
            padding-bottom: 0;
        }

        > * {
            margin-bottom: var(--global__sizing__layout-spacing--half);

            &:last-child {
                margin-bottom: 0;
            }
        }

        .nav-menu {
            &__list {
                display: flex;
            }
            &__item {
                margin: 0 var(--global__sizing__text-spacing--half);

                a {
                    padding: 0;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__social {
        display: flex;

        @include media-breakpoint-down(sm) {
            justify-content: center;
        }

        .heading {
            margin: 0 var(--global__sizing__text-spacing--default) 0 0;
        }
    }
    &__additional-info {
        display: flex;
        flex-flow: column nowrap;
        padding: var(--global__sizing__layout-spacing--default);

        > * {
            margin-bottom: var(--global__sizing__layout-spacing--half);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__attribution {
        display: flex;
        align-items: center;
        justify-content: center;

        .heading {
            margin-bottom: 0;
        }
    }
    &__compliance {
        margin-right: var(--global__sizing__text-spacing--half);
    }
    //&__container {
    //    display: flex;
    //    flex-flow: column nowrap;
    //    justify-content: center;
    //    align-items: center;
    //    padding: var(--global__sizing__layout-spacing--default);
    //    position: relative;
    //
    //    > * {
    //        margin-bottom: var(--global__sizing__text-spacing--default);
    //
    //        &:last-child {
    //            margin-bottom: 0;
    //        }
    //    }
    //}
    //.nav-menu__list {
    //    display: inline-flex;
    //}
    //&__bottom-bar {
    //    width: 100%;
    //    display: flex;
    //    justify-content: space-between;
    //    align-items: center;
    //}
    //&__compliance {
    //    margin-right: var(--global__sizing__text-spacing--half);
    //}
}
