.header-nav {
    display: block;
    border-bottom: 1px solid color-var(--global__colors__gray-light);
    &__brand {
        background-color: color-var(--global__colors__black);
    }
    &__brand-link {
        display: flex;
        align-items: center;
        color: color-var(--global__colors__white);

        &:hover {
            text-decoration: none;
            color: color-var(--global__colors__white);
        }

        @include media-breakpoint-down(sm) {
            .heading {
                font-size: 22px;
            }
        }
    }
    &__brand-image {
        margin-right: var(--global__sizing__layout-spacing--half);
    }
    &__container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    &__menu {
        flex-basis: 70%;
    }
    &__second-menu {
        flex-basis: 30%;
        padding: var(--header__nav-menu__padding-vertical) var(--header__nav-menu__padding-horizontal);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .social-icons {
        &__item {
            margin: 0;
        }
        &__link {
            padding: var(--global__sizing__text-spacing--default);
        }
    }
    &__line {
        border-left: 1px solid color-var(--global__colors__gray-light);
        height: 40px;
        margin: 0 var(--global__sizing__text-spacing--default);
    }
    &__search-button {
        background-color: color-var(--global__color__white);
        color: color-var(--global__color__black);

        &:hover {
            background-color: inherit;
        }
    }
    &__search-drawer {
        overflow: hidden;
        position: absolute;
        top: 100%;
        z-index: 10;
        max-height: 0;
        width: 100%;
        background-color: color-var(--global__colors__black);
        transition: max-height .25s ease-in;

        &--open {
            overflow: auto;
            max-height: calc(100vh - 75px);
            transition: max-height .25s ease-in;
        }
    }
    .search-form {
        padding: var(--global__sizing__layout-spacing--half);
    }
}
