.home-slider {
    &__nav-container {
        position: relative;
        margin: 0 auto;
        max-width: 560px;

        @include media-breakpoint-up(md) {
            margin-top: calc(#{var(--global__sizing__layout-spacing--default)} * -3);
        }
    }
    &__navigation {
        @include media-breakpoint-down(sm) {
            display: flex;
            justify-content: center;
            padding: var(--global__sizing__layout-spacing--half) var(--global__sizing__layout-spacing--half) 0;
        }
        button {
            -webkit-appearance: none;
            border: 0;
            z-index: 2;
            background-color: color-var(--global__colors__white);

            @include media-breakpoint-up(md) {
                position: absolute;
                top: 50%;
            }

            &.owl-prev {
                left: var(--global__sizing__layout-spacing--half);

                @include media-breakpoint-up(md) {
                    left: var(--global__sizing__layout-spacing--default);
                }
            }
            &.owl-next {
                right: var(--global__sizing__layout-spacing--half);

                @include media-breakpoint-up(md) {
                    right: var(--global__sizing__layout-spacing--default);
                }
            }
        }
        svg {
            width: 2.5em;
            height: 2.5em;
        }
    }
    &__nav {
        padding: var(--global__sizing__layout-spacing--half);
        background-color: color-var(--global__colors__white);
        overflow: hidden;

        @include media-breakpoint-up(md) {
            padding: var(--global__sizing__layout-spacing--default) calc(#{var(--global__sizing__layout-spacing--double)} * 2);
        }

        .owl-stage {
            display: flex;
            align-items: center;
        }
    }
    .owl-carousel {
        .animated {
            animation-duration: 500ms;
        }
    }
}

.home-slider-card {
    max-height: 600px;
    overflow: hidden;
}

.home-slider-nav-item {
    &__title {
        margin: 0;
    }
}
