.nav-menu {
    &__toggle-label {
        display: none;
    }
    &__item {
        @extend %heading, %heading--thin;

        &:hover {
            a {
                text-decoration: underline;
            }
        }
    }
}
