.pagination {
    a {
        text-decoration: none;

        &:hover {
            background-color: color-var(--global__colors__gray-lighter);
        }
    }
    .page-numbers {
        @extend %heading;
        padding: var(--global__sizing__text-spacing--half);
        margin: 0 var(--global__sizing__text-spacing--half);

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &.current {
            background-color: black;
            color: white;
        }
    }
}
