.post-action-card {
    display: flex;
    flex-flow: column nowrap;

    @include media-breakpoint-up(md) {
        flex-flow: row nowrap;
    }

    &__image-container {
        position: relative;
        margin: 0 auto;
        cursor: pointer;

        &:hover {
            .post-action-card__image-overlay {
                opacity: 1;
            }
        }

        @include media-breakpoint-up(md) {
            flex-basis: 35%;
        }
    }
    &__image-overlay {
        opacity: 0;
        background-color: color-var(--global__colors__white, .75);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: opacity 0.15s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }
    &__content-container {
        padding: var(--global__sizing__layout-spacing--half) 0;

        @include media-breakpoint-up(md) {
            padding: var(--global__sizing__layout-spacing--default);
            flex-basis: 65%;
        }
    }
    &__category {
        margin-bottom: var(--global__sizing__text-spacing--default);
    }
    &__sharer {
        .list--inline {
            display: flex;
            align-items: center;

            li {
                display: flex;
            }
        }
    }
    &--no-image {
        .post-action-card__content-container {
            padding: var(--global__sizing__layout-spacing--half) 0;

            @include media-breakpoint-up(md) {
                flex-basis: 100%;
            }
        }
    }
}

.responsive-component--narrow.post-action-card {
    flex-flow: column nowrap;

    .heading {
        font-size: var(--headings__default);
        margin-bottom: var(--global__sizing__text-spacing--half);
    }

    .post-action-card {
        &__content-container {
            padding: var(--global__sizing__layout-spacing--half);
        }
        &__category {
            font-weight: bold;
            margin-bottom: var(--global__sizing__text-spacing--half);
        }
        &__title {
            font-weight: 400;
        }
        &__sharer,
        &__content {
            display: none;
        }
    }
}
