.recipe-details {
    &__information {
        display: flex;
        flex-flow: row wrap;

        > * {
            margin-left: var(--global__sizing__text-spacing--half);
            margin-right: var(--global__sizing__text-spacing--half);

            @include media-breakpoint-down(sm) {
                &:nth-child(odd) {
                    margin-left: 0;
                }
                &:nth-child(even) {
                    margin-right: 0;
                }
            }

            @include media-breakpoint-up(md) {
                &:nth-child(3n+1) {
                    margin-left: 0;
                }
                &:last-child,
                &:nth-child(3n+3) {
                    margin-right: 0;
                }
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        padding: var(--global__sizing__text-spacing--half) 0;
        width: calc(50% - #{var(--global__sizing__text-spacing--half)});

        @include media-breakpoint-up(md) {
            width: calc(30% - #{var(--global__sizing__text-spacing--half)});;
        }

        > * {
            margin-bottom: 0;
        }

        .heading {
            margin-right: var(--global__sizing__text-spacing--half);
        }

        > p {
            @include fluid-type(16px, 30px);
            font-style: italic;
        }
    }
    &__ingredients-instructions {
        display: flex;
        flex-flow: row wrap;

        > * {
           width: 100%;

            @include media-breakpoint-up(md) {
                width: 50%;
            }
        }
    }
}
