.search-form {
    display: flex;
    max-width: 750px;
    margin: 0 auto;

    &__label {
        margin: 0;
        width: 100%;
    }
    .button {
        display: flex;
        border-radius: 0;
        border-bottom: 1px solid color-var(--global__colors__gray-dark);
    }
}
